body {
    background-color: #EFD1AD;
}

h1{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 72px;
    letter-spacing: 0.055em;
    color: #0e0e0e;
    margin: 50px;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    }

    .input {
        padding: 0px 20px;
        gap: 20px;
        isolation: isolate;
        width: 900px;
        height: 70px;
        background: #FFFFFF;
        border-radius: 20px;
        font-family: 'Poppins';
        font-size: 20px;
        margin: 20px;
        }

.items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    }
            
    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px;
        padding: 20px 20px;
        gap: 20px;
        isolation: isolate;
        width: 900px;
        height: 70px;
        background: #FFFFFF;
        border-radius: 20px;
        font-family: 'Poppins';
        font-size: 20px;
      }

button {
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 10px;    
    color: rgb(36, 26, 26); 
    font-family: 'Poppins';
    margin-left: 5px; 
    margin-right: 5px;  
    text-align: center;  
    cursor: pointer;
  } 
  .button :hover {
    background-color: grey;
}

 .add {
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 16px;
    font-family: 'Poppins';    
    color: rgb(36, 26, 26); 
    margin-left: 5px; 
    margin-right: 5px;  
    text-align: center;  
    cursor: pointer;
  }
    .add :hover {
        background-color: grey;
    }

.check {
    background-color: #ffffff;
    
    width: 30px;
    height: 30px;
    margin-left: 5px; 
    margin-right: 5px;  
    cursor: pointer;
}
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
    background-color: rgb(175, 167, 167);
  }
  
  /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
    background-color: #212b32;
  }
